<?xml version="1.0" encoding="UTF-8"?>
<mapper>
	<select id="selectSecuIdLst"  resultMap="secuidMap" >
       select distinct b.secu_id, b.com_id from TXT_BLT_COM a join BAS_SECU_INFO b on a.com_id = b.com_id where b. TYP_CODEI in (10, 12, 14) and LST_STS_CODE in (1, 2, 9) 
       and nvl(DLST_DT ,sysdate)>=trunc(sysdate) 
	</select>

	<select id="selectCnt"  resultType="java.lang.Integer">
		select count(distinct(id)) from (
		SELECT
		A.KEYW_NAME,
		C.SECU_ID,
		B.TYP_CODE,--证券类型
		A.ID,--ID
		A.PUB_DT,
		A.TIT,--标题
		D.TRD_CODE,--证券代码
		D.SECU_SHT,--证券简称
		A.INFO_SOUR, ---信息来源
		A.UPD_TIME,
		A.ENT_TIME,
		F.CST_DESC,
		C.COM_ID,
		D.TYP_CODEI,
		substr(B.TYP_CODE,1,2) as SUB_TYP_CODE,
		E.ANN_FMT,
		G.FLD_CODE,
		G.FLD_VAL,
		E.ID as ANN_ID
		FROM TXT_BLT_BAS A
		join txt_blt_ann E ON A.ID = E.ORIG_ID
		LEFT JOIN TXT_BLT_TYP B
		ON A.ID=B.ORIG_ID
		left JOIN TXT_BLT_SECU C ON A.ID=C.ORIG_ID
		left JOIN BAS_SECU_INFO D ON C.SECU_ID=D.SECU_ID
		left JOIN BAS_CST_INFO F ON B.TYP_CODE = F.CST_NUM AND F.CST_TYP = 10100
		left JOIN TXT_BLT_ATT G ON A.ID=G.ORIG_ID
		where A.PUB_DT <![CDATA[>=]]> :begDate
		and A.PUB_DT <![CDATA[<=]]> :endDate
		) order by ID
	</select>


	<select id="selectAllBltByMon" resultMap="bulletMap">
		select * from (
		SELECT
		A.KEYW_NAME,
		C.SECU_ID,
		B.TYP_CODE,--证券类型
		A.ID,--ID
		A.PUB_DT,
		A.TIT,--标题
		D.TRD_CODE,--证券代码
		D.SECU_SHT,--证券简称
		A.INFO_SOUR, ---信息来源
		A.UPD_TIME,
		A.ENT_TIME,
		F.CST_DESC,
		C.COM_ID,
		D.TYP_CODEI,
		substr(B.TYP_CODE,1,2) as SUB_TYP_CODE,
		E.ANN_FMT,
		G.FLD_CODE,
		G.FLD_VAL,
		E.ID as ANN_ID
		FROM TXT_BLT_BAS A
		join txt_blt_ann E ON A.ID = E.ORIG_ID
		LEFT JOIN TXT_BLT_TYP B
		ON A.ID=B.ORIG_ID
		left JOIN TXT_BLT_SECU C ON A.ID=C.ORIG_ID
		left JOIN BAS_SECU_INFO D ON C.SECU_ID=D.SECU_ID
		left JOIN BAS_CST_INFO F ON B.TYP_CODE = F.CST_NUM AND F.CST_TYP = 10100
		left JOIN TXT_BLT_ATT G ON A.ID=G.ORIG_ID
		where A.PUB_DT <![CDATA[>=]]> :begDate
		and A.PUB_DT <![CDATA[<=]]> :endDate
		) order by ID
	</select>

	<select id="selectAllBlt" resultMap="bulletMap">
		select * from (
		SELECT
		A.KEYW_NAME,
		C.SECU_ID,
		B.TYP_CODE,--证券类型
		A.ID,--ID
		A.PUB_DT,
		A.TIT,--标题
		D.TRD_CODE,--证券代码
		D.SECU_SHT,--证券简称
		A.INFO_SOUR, ---信息来源
		A.UPD_TIME,
		A.ENT_TIME,
		F.CST_DESC,
		C.COM_ID,
		D.TYP_CODEI,
	    substr(B.TYP_CODE,1,2) as SUB_TYP_CODE,
	     E.ANN_FMT,
	     G.FLD_CODE,
	     G.FLD_VAL,
	     E.ID as ANN_ID
		FROM TXT_BLT_BAS A
		join txt_blt_ann E ON A.ID = E.ORIG_ID
		LEFT JOIN TXT_BLT_TYP B
		ON A.ID=B.ORIG_ID
		left JOIN TXT_BLT_SECU C ON A.ID=C.ORIG_ID
		left JOIN BAS_SECU_INFO D ON C.SECU_ID=D.SECU_ID
		left JOIN BAS_CST_INFO F ON B.TYP_CODE = F.CST_NUM AND F.CST_TYP = 10100
		left JOIN TXT_BLT_ATT G ON A.ID=G.ORIG_ID
		where A.PUB_DT <![CDATA[>=]]> to_date(to_char(:begDate,'yyyyMMdd'),'yyyyMMdd')
		and A.PUB_DT <![CDATA[<=]]> to_date(to_char(:endDate,'yyyyMMdd'),'yyyyMMdd')
		) order by ID
	</select>

	<select id="selectBltByMaxId" resultMap="bulletMap"  parameterType="java.util.Date">
		select * from (SELECT
		A.KEYW_NAME,
		C.SECU_ID,
		B.TYP_CODE,--证券类型
		A.ID,--ID
		A.PUB_DT,
		A.TIT,--标题
		D.TRD_CODE,--证券代码
		D.SECU_SHT,--证券简称
		A.INFO_SOUR, ---信息来源
		GREATEST(nvl(A.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(B.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(C.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(D.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(E.UPD_TIME, to_date('1900-01', 'yyyy-mm'))) AS UPD_TIME,
		A.ENT_TIME,
		F.CST_DESC,
		C.COM_ID,
		D.TYP_CODEI,
	    substr(B.TYP_CODE,1,2) as SUB_TYP_CODE,
	     E.ANN_FMT,
	     G.FLD_CODE,
	     G.FLD_VAL,
	     E.ID as ANN_ID
		FROM TXT_BLT_BAS A
		join txt_blt_ann E ON A.ID = E.ORIG_ID
		LEFT JOIN TXT_BLT_TYP B
		ON A.ID=B.ORIG_ID
		left JOIN TXT_BLT_SECU C ON A.ID=C.ORIG_ID
		left JOIN BAS_SECU_INFO D ON C.SECU_ID=D.SECU_ID
		left JOIN BAS_CST_INFO F ON B.TYP_CODE = F.CST_NUM AND F.CST_TYP = 10100
		left JOIN TXT_BLT_ATT G ON A.ID=G.ORIG_ID
		where A.UPD_TIME <![CDATA[>=]]> to_date(to_char(:maxUpDate,'yyyyMMdd'),'yyyyMMdd')
		)
		where Upd_Time <![CDATA[>=]]> :maxUpDate order by Upd_Time desc
	</select>
	
	<select id="selectBltIdByMaxUpDate" resultType="java.lang.Double" parameterType="java.util.Date">
		select ID from (SELECT
		A.KEYW_NAME,
		C.SECU_ID,
		B.TYP_CODE,--证券类型
		A.ID,--ID
		A.PUB_DT,
		A.TIT,--标题
		D.TRD_CODE,--证券代码
		D.SECU_SHT,--证券简称
		A.INFO_SOUR, ---信息来源
		GREATEST(nvl(A.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(B.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(C.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(D.UPD_TIME, to_date('1900-01', 'yyyy-mm')),
		nvl(E.UPD_TIME, to_date('1900-01', 'yyyy-mm'))) AS UPD_TIME,
		A.ENT_TIME,
		F.CST_DESC,
		C.COM_ID,
		D.TYP_CODEI,
	    substr(B.TYP_CODE,1,2) as SUB_TYP_CODE,
	     E.ANN_FMT,
	     G.FLD_CODE,
	     G.FLD_VAL,
	     E.ID as ANN_ID
		FROM TXT_BLT_BAS A
		join txt_blt_ann E ON A.ID = E.ORIG_ID
		LEFT JOIN TXT_BLT_TYP B
		ON A.ID=B.ORIG_ID
		left JOIN TXT_BLT_SECU C ON A.ID=C.ORIG_ID
		left JOIN BAS_SECU_INFO D ON C.SECU_ID=D.SECU_ID
		left JOIN BAS_CST_INFO F ON B.TYP_CODE = F.CST_NUM AND F.CST_TYP = 10100
		left JOIN TXT_BLT_ATT G ON A.ID=G.ORIG_ID
		)
		where Upd_Time <![CDATA[>=]]>  to_date(to_char(:maxUpDate,'yyyyMMdd'),'yyyyMMdd')
	</select>
</mapper>