<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- mysql sessionFactory -->
	<bean id="mysqlSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceFromMysql" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop><!--create validate -->
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
			</props>
		</property>
		 <property name="packagesToScan" value="com.bigdata.datacenter.metadata.model.*"/>
	</bean>
	
	<!-- oracle sessionFactory -->
	<bean id="oracleSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceFromOracle" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop><!--create validate -->
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.bigdata.datacenter.metadata.model.*"/>
	</bean>

	<!-- oracle sessionFactory -->
	<bean id="postgresqlSessionFactory"
		  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceFromPostgreSql" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.ProgressDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop><!--create validate -->
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.bigdata.datacenter.metadata.model.*"/>
	</bean>

	<!-- h2 sessionFactory -->
	<bean id="h2SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceFromH2" />
		<property name="hibernateProperties">
			<props>
				<!-- h2 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.jdbc.batch_size">30</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop><!--create validate -->
				<prop key="hibernate.query.substitutions">true 1, false 0</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
				<!-- <prop key="hibernate.cache.use_second_level_cache">true</prop> -->
				<!-- <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop> -->
				<!-- <prop key="hibernate.cache.use_query_cache">true</prop> -->
				<!-- <prop key="hibernate.generate_statistics">true</prop> -->
				<!-- <prop key="hibernate.cache.provider_configuration_file_resource_path">classpath:ehcache.xml</prop> -->
			</props>
		</property>
	</bean>

</beans>