<?xml version="1.0" encoding="UTF-8"?>
 <mappers>
    <mapper resource="rawSQL/huatai/TableChangeLogMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/DskObjPropMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/IndexAllMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/TxtBltMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/TxtNwsMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/ReportBasMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/CombDskEngMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/TxtLawMapper.xml"/>
    <mapper resource="rawSQL/huatai/HuaTai/TxtTipsMapper.xml"/>
 </mappers>
