<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 定时器  -->
	<bean id="rrpBasService" class="com.bigdata.datacenter.datasync.service.impl.RrpBasServiceImpl"/>
	<bean id="scanRrpBas" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="rrpBasService" />
		</property>
		<property name="targetMethod">
			<value>incrementalSync</value>
		</property>
		<property name="concurrent" value="false" />
	</bean>

	<bean id="cronUpdateRrpBasTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="scanRrpBas" />
		</property>
		<property name="cronExpression">
			<value>0 0/2 * * * ?</value>
		</property>
	</bean>
	
	<bean id="removeRrpBas" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="rrpBasService" />
		</property>
		<property name="targetMethod">
			<value>removeDate</value>
		</property>
		<property name="concurrent" value="false" />
	</bean>

	<bean id="cronRemoveRrpBasTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="removeRrpBas" />
		</property>
		<property name="cronExpression">
			<value>0 30 12,18,23 * * ?</value>
			<!--<value>0 0/2 * * * ?</value>-->
		</property>
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronUpdateRrpBasTrigger" />
				<ref bean="cronRemoveRrpBasTrigger" />
			</list>
		</property>
	</bean>
	
</beans>